<appSettings>
  <!-- Connection Strings -->

  <add key="DavzConnectionString" value="Server=DESKTOP-M5ML0GU;Database=DavzRoundRobin;Trusted_Connection=true"/>

  <!-- Paths to Saved Files -->
  <add key="UploadedFilesDirectory" value="C:\Users\DEVELOPER 4\source\repos\WhynotGaming\UploadedFiles\"/>

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>