<appSettings>
  <!-- Connection Strings -->

  <add key="DavzConnectionString" value="Server=LAPTOP-1IIQ2CRS\SQLEXPRESS;Database=DavzRoundRobin;Trusted_Connection=true"/>

  <!-- Paths to Saved Files -->
  <add key="UploadedFilesDirectory" value="C:\Users\DEVELOPER 4\source\repos\WhynotGaming\UploadedFiles\"/>

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>